/* -- scss:import --*/

@import 'https://fonts.googleapis.com/css?family=Outfit';
@import 'https://fonts.googleapis.com/css?family=Google+Sans';
@import 'https://fonts.googleapis.com/css?family=Fira+Code';

/*-- scss:rules --*/
$font-family-sans-serif: "Outfit";
$font-family-mono: "Fira Code";

$font-size-title-large: 45px;
$font-size-title-medium: 30px;
$font-size-title-small: 25px;

$font-size-h1: 80px;
$font-size-h2: 40px;
$font-size-h3: 30px;
$font-size-body: 30px;
$font-size-small: 25px;

$link-color: darkblue;
$grey: lightgrey;
$red: #e15759;
$blue: #4e79a7;

#title-slide {

  .title,
  .subtitle {
    font-family: $font-family-sans-serif;
    font-size: $font-size-title-large;
    margin-top: 0px;
    margin-bottom: 3%;
    margin-left: 2px;
    margin-right: 2px;
    font-weight: 600;
  }

  .subtitle {
    font-weight: 500;
    font-size: $font-size-title-medium !important;
    margin-bottom: 8%;
  }

  .quarto-title-author-name {
    font-family: $font-family-sans-serif;
    font-size: $font-size-title-medium;
    margin-bottom: 2%;
  }

  .quarto-title-author-email,
  .date {
    font-family: $font-family-mono;
    font-size: $font-size-title-small !important;
  }

  .quarto-title-affiliation {
    font-family: $font-family-sans-serif;
    font-size: $font-size-title-small !important;
    color: black;
    margin-top: 5%;
  }
}

.lightgrey {
  color: $grey;
}

.red {
  background-color: $red;
  color: white;
}

.blue {
  background-color: $blue;
  color: white;
}

.center {
  text-align: center;
}

.citation {
  line-height: 25%;
  color: $link-color;
  text-align: right;

  a {
    text-align: right;
  }
}

.aside {
  color: $grey;
  font-size: 15px;
  text-align: right;
}

.callout {
  background-color: $grey;
}

blockquote {
  border-left: 3px solid;
  padding-left: 0.5em;
}

a {
  color: $link-color
}

caption {
  font-size: 20px;
  line-height: 25%;
  color: $grey;
  text-align: right;

  p {
    line-height: 25%;
    color: $grey;
    text-align: right;
  }
}

.reveal {

  h1,
  h2,
  h3 {
    font-family: $font-family-sans-serif;
    margin-bottom: 2%;
    font-weight: bolder;
  }

  h1 {
    font-size: $font-size-h1;
  }

  h2 {
    font-size: $font-size-h2;
  }

  h3 {
    font-size: $font-size-h3;
  }

  p {
    font-size: $font-size-body;
  }

  aside,
  li,
  ul,
  th,
  td,
  dd,
  .csl-entry,
  .citation {
    font-size: $font-size-small;
  }

  .citation {
    color: $link-color !important;
  }
}

figcaption {
  margin-top: -3%;
  text-align: right;
  margin-right: 5%;
  color: $grey;
}

aside p,
.aside-footnotes {
  color: black;
}

.blockquote {
  font-size: 21px;
  color: black;
}

.box {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  background: $grey;
}